<div>

    <%= notification.to_notification.message%>
    <%= notification.created_at.to_date%>
    <% if notification.type == "FriendRequestNotification"%>
        <%= button_to 'Accept?', friendships_path(id: notification.to_notification.creator_id), method: :post%>
    <% else %>
    <% end %>
</div>