<div class="w-full flex flex-col items-center">
<h3 class="text-4xl font-extrabold dark:text-w">Users</h3>
 <% @users.each do |user|%>
      <%next if user.id == current_user.id%>
          <%= render "users/user_card", user: user%>
      <br>
  <% end %> 
</div>