<h1>Users Index</h1>


 <% @users.each do |user|%>
      <%next if user.id == current_user.id%>
      <%= link_to(user) do %>
        <div class="m-4 p-4 bg-indigo-400 flex flex-col content-start rounded">
          <%= render "users/user", user: user%>
          <%= render "users/friends", user:user%>
        </div>
      <% end %>
      <br>
  <% end %> 
 