<h1 class="text-3xl">Welcome back, <%= current_user.name%></h1>
<%= image_tag current_user.thumb, class: "rounded-full" %>

<div>
    <p>Bio: </p>
    <%= current_user.bio%>
</div>

<%= button_to "Edit Profile", edit_user_registration_path, method: :get%>