<div class="flex flex-col items-center">
  <%= turbo_frame_tag "new_post", src: new_post_path(@post), target: "_top" %>

<div id="posts">
  <% @posts.each do |post|%>
    <div id="<%= dom_id(post)%>">
      <%= render partial: "posts/post", locals: {post: post}%>
    </div>
    
    
  <% end %>
</div>
  

</div>
