<div class="flex flex-col items-center">


  <% @posts.each do |post|%>
    <%= render partial: "posts/post", locals: {post: post}%>
    <%= render partial: "posts/likes", locals: {post: post}%>
  <% end %>

</div>
