
<%= turbo_frame_tag "new_post", target: "_top" do%>
    <%= form_with model: @post do |form|%>
        <div class="flex items-center">
            <%= form.text_area :body, class: "rounded mr-2"%>
            <%= form.submit 'Post'%>
        </div>
        
    <% end %>
<% end %>