
<h2>Below is the body text</h2>

<%= render partial: "posts/post", locals: {post: @post}%>

<div id="comments">
    <%= render @post.comments%>
</div>

<%= turbo_frame_tag "new_comment", src: new_post_comment_path(@post), target: "_top" %>
