<div class="flex items-center">
    <%= button_to image_tag('comment', size: 25) , post, method: :get , class: "bg-rose-100/50 rounded px-4 py-1 hover:bg-rose-200/50"%>
    <div class="ml-2">
        <%= pluralize post.comments.size, "comment"%>
    </div>
</div>
