<div class="navbar flex items-center justify-between">
    <div>
        <%= link_to 'Brand-Name', notifications_path%>
    </div>

    <div class="links flex items-center">
        <%= render 'layouts/notifications', unread_notifications: current_user&.notifications.unread.size%>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
</div>